@{
    ViewBag.Title = "Sobre";
}

<h3>@ViewBag.Message</h3>

<address>
    João André Martins Dias e Silva<br />
    Analista de Sistemas<br />
    <abbr title="Telefone">Cel.:</abbr>
    +55-(18) - 98122 - 5687
</address>

<address>
    <strong>Github:</strong>   <a href="https://github.com/SoRRiSoJa">github.com/SoRRiSoJa</a><br />
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/joaoandremartinsdiasesilva/">linkedin.com/in/joaoandremartinsdiasesilva/</a><br />
    <strong>E-mail:</strong> <a href="mailto:jamdes81@gmail.com">jamdes81@gmail.com</a>
</address>
